@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lobster&family=Taviraj&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

body{
	background-color: #202935;
}

.header{
	color: #54F5D9;
	position: absolute;
	top: 3%;
	min-width: 100%;
	text-transform: uppercase;
	padding-bottom: 15px;
	box-shadow: 6px 4px 3px 0px #334458;
}

.container{
	padding-top: 8em;

}

.name{
	color: #08BEA5;
}

.text{
	color: #A5ACB4;
	height: 30%;
}

.calc{
	border-right: 2px solid #334458;
}

.cars{
	border-left: 2px solid #334458;
}

.calc, .rand, .cars{
	padding: 0 4%;
}

